.content {
  display: grid;
  justify-items: center;
  align-items: center;
}

button {
  height: 50px;
  width: 150px;
  border-radius: 10px;
  background: teal;
}

.banner {
  color: black;
  top: 50%;
  bottom: 50%;
  font-family: 'Almendra Display', cursive;
}
  
