.circle {
    height: 150px;
    width: 150px;
    box-shadow: 0 0 3px #333;
    border-radius: 50%;
    display: inline-block;
    margin: 20px;
}

.circle.highlighted {
    background-color: gold;
}